{% extends 'basic.html' %}
{% block body %}
<div class="container">
 <form action="/sent" method="post">
              <label>Name</label>
     <br>
              <input type="text" placeholder="Name" name="name">
                <br>
              <label>Email Address</label>
     <br>
              <input type="email" name="email" placeholder="Email Address">
                <br>
              <label>Phone Number</label>
     <br>
              <input type="number" name="phone" placeholder="Phone Number">
              <br>
              <label>Message</label>
        <br>
              <textarea rows="5" cols="100" name="message" placeholder="Message"></textarea>
          <br>
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
        </form>
      </div>


{% endblock %}